# BASE_URL
NEXT_PUBLIC_BASE_URL=

# EMAILJS
EMAIL_USER=
EMAIL_PASS=

# DATABASE
DATABASE_URL=
DATABASE_PASSWORD=

# NEXT_AUTH
NEXTAUTH_SECRET=

# CLOUDINARY
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
NEXT_PUBLIC_CLOUDINARY_PRESET=

# GOOGLE ANALYTICS
NEXT_PUBLIC_GA_ID=